<config>
    <modules>
        <LCB_Multivoucher>
            <version>1.3.3</version>
        </LCB_Multivoucher>
    </modules>
    <global>
        <helpers>
            <lcb_multivoucher>
                <class>LCB_Multivoucher_Helper</class>
            </lcb_multivoucher>
        </helpers>
        <blocks>
            <lcb_multivoucher>
                <class>LCB_Multivoucher_Block</class>
            </lcb_multivoucher>
        </blocks>
        <models>
            <lcb_multivoucher>
                <class>LCB_Multivoucher_Model</class>
                <resourceModel>lcb_multivoucher_resource</resourceModel>
            </lcb_multivoucher>
            <lcb_multivoucher_resource>
                <class>LCB_Multivoucher_Model_Resource</class>
                <entities>
                    <brand>
                        <table>lcb_multivoucher_brand</table>
                    </brand>
                    <category>
                        <table>lcb_multivoucher_category</table>
                    </category>
                    <purchase>
                        <table>lcb_multivoucher_purchase</table>
                    </purchase>
                    <reward>
                        <table>lcb_multivoucher_reward</table>
                    </reward>
                    <reward_category>
                        <table>lcb_multivoucher_reward_category</table>
                    </reward_category>
                </entities>
            </lcb_multivoucher_resource>
        </models>
        <resources>
            <lcb_multivoucher_setup>
                <setup>
                    <module>LCB_Multivoucher</module>
                </setup>
            </lcb_multivoucher_setup>
        </resources>
        <template>
            <email>
                <multivoucher_purchase translate="label" module="lcb_multivoucher">
                    <label>Multivoucher Purchase Email Template</label>
                    <file>multivoucher_purchase.html</file>
                    <type>html</type>
                </multivoucher_purchase>
            </email>
        </template>
    </global>
    <admin>
        <routers>
            <adminhtml>
                <args>
                    <modules>
                        <LCB_Multivoucher before="Mage_Adminhtml">LCB_Multivoucher_Adminhtml</LCB_Multivoucher>
                    </modules>
                </args>
            </adminhtml>
        </routers>
    </admin>
    <adminhtml>
        <translate>
            <modules>
                <LCB_Multivoucher>
                    <files>
                        <default>LCB_Multivoucher.csv</default>
                    </files>
                </LCB_Multivoucher>
            </modules>
        </translate>
    </adminhtml>
    <frontend>
        <routers>
            <lcb_multivoucher>
                <use>standard</use>
                <args>
                    <frontName>multivoucher</frontName>
                    <module>LCB_Multivoucher</module>
                </args>
            </lcb_multivoucher>
        </routers>
        <layout>
            <updates>
                <lcb_multivoucher module="LCB_Multivoucher">
                    <file>lcb_multivoucher.xml</file>
                </lcb_multivoucher>
            </updates>
        </layout>
        <translate>
            <modules>
                <LCB_Multivoucher>
                    <files>
                        <default>LCB_Multivoucher.csv</default>
                    </files>
                </LCB_Multivoucher>
            </modules>
        </translate>
    </frontend>
    <default>
        <multivoucher>
            <limit>
                <user_daily>500</user_daily>
                <general_daily>2000</general_daily>
            </limit>
        </multivoucher>
    </default>
</config>
